<div>

    <form action="/submit_shift" method="post"> 
<h4>Enter your shift recording please</h4>
<input placeholder="shift date" type="date"></input>
<label>Shift Date</label>
<br>
<input placeholder="from" type="time"></input>
<label>Time from</label>
<br>
<input placeholder="to" type="time"></input>
<label>Time to</label>
<br>
<input placeholder="£0"></input>
<label>Hourly rate</label>
<br>
<input type="time"></input>
<label>Clocked in </label>
<br>
<input type="time"></input>
<label>Clocked out </label>
<br>
 <input type="submit" value="Submit">


    </form>

</div>