<div>

    <form>
<h4>Enter your shift recording please</h4>
<input placeholder="shift date"></input>
<label>Shift Date</label>
<input></input>
<label>Time from</label>
<input></input>
<label>Time to</label>
<input></input>
<label>Hour rate</label>
<input></input>
<label>Clocked in </label>
<input></input>
<label>Clocked out </label>



    </form>

</div>